mixin productForm(product = {})
    form(action=`/add/${product._id || ''}` method="POST" class="card")
        label(for="name") Name
        input(type="text" name="name" value=product.name)
        label(for="description") Description
        textarea(name="description")= product.description
        label(for="amount") Price 
        input(type="number" min="0.01" max="2500" step="0.01" name="price[amount]")
        - const options = ['Bulk', 'Link', 'Brat']
        - const selectedOptions = product.options || []
        label(for="option") Options: 
        ul.tags 
            each option in options 
                .tag.tag__choice
                    input(type="checkbox" id=option value=option name="options" checked=(selectedOptions.includes(options)))
                    label(for=option) #{option}
        input(type="submit" value="Save" class="button")