mixin productCard(product = {})
    .product
        .product__hero
            img(src=`/uploads/${product.photo || 'sausage.jpg'}`)
        .product__details
            .product__action.product__action--edit
                a(href=`/products/${product._id}/edit`)
                    != h.icon('pencil')
            h4.title
                a(href=`/product/${product.slug}`) #{product.name}
            p.product__description #{product.description}
            - const amount = product.price.amount
            p.product__price $#{(amount/100).toFixed(2)}